@charset "windows-1251";
/*фон*/
body {
   background-color: #9de6fc;
   min-height: 100vh;
   overflow-x: hidden;
}

/*оформление меню*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  margin: 0px 0 5px;
  padding: 28px 0 5px;
  text-align: center;
  justify-content: flex-start;
  background: linear-gradient(to top, #ade9d3, #4c9790);
}

.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #003878;
  display: inline-block;
  vertical-align:top;
}

.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 8px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 19px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .4s;
}

.menu-main a, .menu-main a:visited {color: #003332;}
.menu-main a.current, .menu-main a:hover{color: #1e9492;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 5px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #18a88e;
  transition: .8s;
}

.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px;
  margin: 0 30px;
}
}

/*параллах эффект*/
.parallax{
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#text{
    position: absolute;
    font-size: 5em;
    color: #9be8da;
    text-shadow: 4px 4px 4px #0d6642;
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec{
    position: relative;
    background: #003329;
    padding: 100px;
}

.sec h2{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

.sec h3{
    font-size: 25px;
    color: #fff;
    margin-bottom: 4px;
    line-height: 1.5;
    text-indent: 30px;
}


/*Контакты*/
contacts {
  color: #00633f;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-weight: normal;
}

contacts_text {
  color: #00633f;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-weight: normal;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

a {
  text-decoration: none;
}
p {
    text-indent: 20px;
}

#id1 {
  float: right;
  width: 700px;
  height: 700px;
}
#id1 model-viewer {
    height: 700px;
    width: 700px;
    border: none;
}

#id2 {
  font-size: 24px;
  color: #00633f;
  font-family: Brush Script MT, Brush Script Std, cursive;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70em;
  padding:200;
}
#id2 h{
  font-size: 34px;
  color: #00633f;
  font-family: Brush Script MT, Brush Script Std, cursive;
  text-align: center;
}


#id3 {
  float: left;
  width: 700px;
  height: 700px;
}
#id3 model-viewer {
    height: 700px;
    width: 700px;
    border: none;
}

#id4 {
  font-size: 24px;
  color: #00633f;
  font-family: Brush Script MT, Brush Script Std, cursive;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70em;
  padding:200;
}
#id4 h{
  font-size: 34px;
  color: #00633f;
  font-family: Brush Script MT, Brush Script Std, cursive;
  text-align: center;
}
/*3д объекты
.aSide {
    height: 0px;
    width: 600px;
    position: static;
    top: calc(0% - 0px);
    right: 7%;
}

.aSide model-viewer {
    height: 400px;
    width: 400px;
    position: static;
    top: 0;
    left: 0;
    border: none;
}*/