{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Анимация</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <ul class="menu-main">
      <li><a href="/">Главная</a></li>
      <li><a href="/animation" class="current">Blog</a></li>
      <li><a href="/anime">Анимация</a></li>
      <li><a href="/contacts">Контакты</a></li>
      <li><a href="/account/login">Вход</a></li>
    </ul>

</body>
</html>