{% load static %}
<html lang="en">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href={% static 'img/favicon.ico' %} type="image/x-icon">
    <title>Связь</title>
</head>
<body>
    <ul class="menu-main">
      <li><a href="/index">Главная</a></li>
      <li><a href="/animation">Animation</a></li>
      <li><a href="/contacts" class="current">Контакты</a></li>
      <li><a href="/login">Вход</a></li>
    </ul>

    <contacts><h1><center>Для связи со мной вы можете использовать: </center></h1></contacts>
        <contacts_text>КОНТАКТНЯ ИНФОРМАЦИЯ:<br>
        <p>777777, Москва, Московская область, поселение Сосенское, Скандинавский бульвар 6, офис 5<br></p>
        <p>Телефон: +7 (918) 265-04-39<br></p>
        ПО ВОПРОСАМ СОТРУДНИЧЕСТВА:<br>
        <p>Разработчик: Малецкая Маргарита<br></p>
        <p><a href="mailto:maletskyamargarita@gmail.com">maletskyamargarita@gmail.com</a><br></p>
        </contacts_text>
    <div class><center><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A856bda80aa66e18a09c8622cba7f7a276f6d5892b37900e9820828f63585aab6&amp;width=100%&amp;height=450&amp;lang=ru_RU&amp;scroll=true"></script></center></div></div>
    <div class><p><b><center>Contact me on: </center></b></p></div>
    <div class><center><a href="https://vk.com/4kul4"><img src="{% static 'img/vk.png' %}" width="50" height="50"></a>
                       <a href="https://github.com/4kul4"><img src="{% static 'img/git.png' %} "width="50" height="50"><br></a></center></div>
    <glow-button><a href="/"> Назад </a></glow-button><br><br>
    <div class><center><font color="#708090" face="Arial">&copy;Сайт создан в ознакомительных целях. Права на изображения и тексты принадлежат их авторам. 2022 год.</font></center> </div>
</body>
</html>