{% load static %}
<html lang="en">
</script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <ul class="menu-main">
      <li><a href="/" class="current">Главная</a></li>
      <li><a href="/animation">Blog</a></li>
      <li><a href="/anime">Анимация</a></li>
      <li><a href="/contacts">Контакты</a></li>
      <li><a href="/account/login">Вход</a></li>
    </ul>

    <section class="parallax">
        <img src="{% static 'img/hill1.png' %} " id="hill1">
        <img src="{% static 'img/hill2.png' %} " id="hill2">
        <img src="{% static 'img/hill3.png' %} " id="hill3">
        <img src="{% static 'img/hill4.png' %} " id="hill4">
        <img src="{% static 'img/hill5.png' %} " id="hill5">
        <img src="{% static 'img/tree.png' %} " id="tree">
        <h2 id="text">Трёхмерная анимация</h2>
        <img src="{% static 'img/leaf.png' %} " id="leaf">
        <img src="{% static 'img/plant.png' %} " id="plant">
    </section>
    <script src="{% static 'parallax.js' %}"></script>

    <section class="sec">
        <h2>Сайт создан с использованием трёхмерной анимации!</h2>
        <h3>В последние десятилетия анимация является неотъемлемой частью жизни людей. Она повсеместно используется во многих областях жизнедеятельности общества от рекламы и маркетинга до игровой индустрии и разработки всевозможных проектов.</h3>
        <h3>Искусство, воплощенное в действие – именно в этом заключается сама суть жизни. Даже древние философы утверждали, что любое движение является искусством, воплощенным именно за счет анимации.</h3>
        <h3>В прошлом столетии вся анимация производилась покадрово в ручную и занимала колоссальное количество времени. В последние же годы современный образ и ускорение ритма жизни приводит к тому, что из-за изменений потребностей и трендов рынка требуются новые усовершенствованные способы анимации и визуализации. Про один из таких методов автором данной работы написана целая статья, в которой подробно описываются основные принципы работы процедурной генерации анимации.</h3>
        <h3>За последние несколько лет развитие трёхмерной анимации усилилось во много раз, благодаря государственной и коммерческой поддержке. Уже во многих вузах преподают основы трёхмерного моделирования и анимации, с использованием программного обеспечения для создания трёхмерной компьютерной графики, а работодатели ищут таких специалистов разного уровня, с возможностью дальнейшего обучения, роста и развития. Именно за счет вклада огромного количества ресурсов происходит взлет сферы трёхмерной анимации.</h3>
        <h3>Невозможно обойти стороной использование трёхмерной анимации в киноиндустрии, качество моделей в которой многократно улучшилось за счет новых технологий и великолепно обученного персонала. Примером этого может являться знаменитая студия Pixar, которая в 1995 году выпустила мультфильм «История игрушек», выполненный с помощью революционной для того времени технологии «3D-моделирования». Таким образом, студия дала старт в продвижении трёхмерной графики и анимации.</h3>
        <h3>Подводя итоги, невозможно преувеличить возможности и способности различных реализаций с помощью трёхмерной анимации. В результате, в будущем возможно будет достигнуть колоссальных достижений в данной сфере и создать новые способы трёхмерной анимации и визуализации.</h3>
    </section>
</body>
</html>