{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <script src="{% static 'parallax.js' %}"></script>
</head>
<body>
    <ul class="menu-main">
      <li><a href="/index" class="current">Главная</a></li>
      <li><a href="/animation">Animation</a></li>
      <li><a href="/contacts">Контакты</a></li>
      <li><a href="/login">Вход</a></li>
    </ul>

    <section class="parallax">
        <h2 id="text">Трёхмерная анимация</h2>
        <img src="{% static 'img/hill1.png' %} " id="hill1">
        <img src="{% static 'img/hill2.png' %} " id="hill2">
        <img src="{% static 'img/hill3.png' %} " id="hill3">
        <img src="{% static 'img/hill4.png' %} " id="hill4">
        <img src="{% static 'img/hill5.png' %} " id="hill5">
        <img src="{% static 'img/tree.png' %} " id="tree">
        <img src="{% static 'img/leaf.png' %} " id="leaf">
        <img src="{% static 'img/plant.png' %} " id="plant">
    </section>

    <script src="parallax.js"></script>


</body>
</html>